<div class="container">
  <p id="message">今日のメニューが決まらない方は<br>ボタンを押してください</p>
  <button id="randomButton" onclick="hideButton()">ボタンを押す</button>
  <p id="result"></p>
</div>
<div style="margin-bottom: 500px;"></div>
<style>
.container {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px; 
  margin: 0 auto; 
  text-align: center;
  margin-top: 300px;
  background-color: #fff;
}

p {
  margin: 0;
}

#randomButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%; 
    padding: 10px;
  }
  
  #randomButton {
    padding: 8px 16px;
  }
}
</style>


<script>
  const message = document.getElementById("message");
  const result = document.getElementById("result");

  function hideButton() {
  randomButton.style.display = "none";
  generateMenu();
  }

  function generateMenu() {
    var exercises = ["腕立て", "腹筋", "背筋", "スクワット"];
    var reps = Math.floor(Math.random() * 30) + 1;
    var selectedExercise = exercises[Math.floor(Math.random() * exercises.length)];
    var additionalMessage = "今日のメニューが決まりました！";
    message.innerHTML = additionalMessage;
    var resultText = "種目: " + selectedExercise + "<br>回数: " + reps;
    result.innerHTML = resultText;
    }
</script>


