<div class="container mt-5 pt-5">
  <h2 class="text-center mt-5">ようこそ、<%= @user.name %>さんの成長確認部屋へ</h2>
  <div class="row">
    <div class="col-md-6 mt-4">
      <h4>最新の投稿</h4>
      <ul>
        <% @posts.each do |post| %>
          <li>
            <%= post.name %> <%= post.created_at.to_s(:datetime_jp) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6 mt-4">
      <h4>トレーニングの回数</h4>
      <canvas id="effect-chart" width="100" height="50"></canvas>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <label for="date-picker" class="form-label">日付選択</label>
      <div class="input-group">
        <input type="text" id="date-picker" class="form-control">
        <span class="input-group-text"><i class="bi bi-calendar"></i></span>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('effect-chart').getContext('2d');
    var effectData = <%= raw @chart_data.to_json %>;
    var labels = Object.keys(effectData);
    var chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [], 
        datasets: []
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: '回数'
            }
          }
        }
      }
    });
    function updateChart(selectedDate) {
      var filteredData = effectData[selectedDate];
      var labels = filteredData.map(function(item) { return item.name; });
      var sets = filteredData.map(function(item) { return item.set; });

      chart.data.labels = labels;
      chart.data.datasets = [{
        label: 'トレーニングの回数',
        data: sets,
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }];
      chart.update();
    }
    var datePicker = document.getElementById('date-picker');
    if (datePicker) {
      $(datePicker).datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
      }).on('changeDate', function (event) {
        var selectedDate = event.format();
        updateChart(selectedDate);
      });
    }

    var defaultDate = labels[0]; 
    updateChart(defaultDate);
  });
</script>
