<div class="container pt-5" style="max-width: 600px;">
  <%= form_with url: api_products_search_path, method: :get, local: true do |f| %>
    <div class="form-group">
      <%= f.text_field :keyword, value: params[:keyword], class: "form-control",placeholder: "プロテインの検索" %>
      <%= f.submit '製品名を検索', class: "form-control btn btn-success" %>
    </div>
  <% end %>
  <% if @api_products.present? %>
    <%= render 'api_products/api_product' %>
  <% end %>
</div>