// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carousel-inner {
  padding: 0 300px; /* 左右の余白を追加する値 */
}

#components {
  padding-left: 300px;
  padding-right: 300px;
}

.table-wrapper {
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th,
  td {
    padding: 12px;
    border-bottom: none;
    border-top: 1px solid #dee2e6;
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
  }

  thead th {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-top: none;
  }

  tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }

  tbody tr:nth-of-type(even) {
    background-color: #e9ecef;
  }

  .favorite-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545;
  }

  .favorite-count {
    margin-left: 5px;
    font-size: 14px;
    color: #6c757d;
  }
}

#new-posts-link,
#popular-posts-link {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 390px) {
  #new-posts-link,
  #popular-posts-link {
    font-size: 24px; /* または適切なサイズに調整 */
  }
}

#popular-posts {
  display: none;
}

#new-posts-link {
  margin-right: 120px;
}

#popular-posts-link {
  margin-left: 120px;
}

.overlay-title {
  font-size: 3em;
  margin: 10px 0;
}

.overlay-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.overlay-description {
  font-size: 1em;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .overlay-description {
    font-size: 0.1em; /* 適切なフォントサイズを指定してください */
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 1px; /* 適切なパディングを指定してください */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 480px) {
  .overlay-description {
    /* 他のプロパティは変更せずに、white-space: normal; に変更する */
    white-space: normal;
    overflow: visible; /* または scroll や auto を指定するなど */
    text-overflow: initial;
  }
}
@media screen and (max-width: 390px) {
  .overlay-description {
    font-size: 0.1em; /* 適切なフォントサイズを指定してください */
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 1px; /* 適切なパディングを指定してください */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 390px) {
  .overlay-description {
    /* 他のプロパティは変更せずに、white-space: normal; に変更する */
    white-space: normal;
    overflow: visible; /* または scroll や auto を指定するなど */
    text-overflow: initial;
  }
}
